*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}
.titlebox{
  background-color:#d8d8d8 ;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headbox{
 /* border: 1px solid red;  */
}
.headbox h1{
  color: #3c70ff;
}
  